@model ComputerNetworksProject.Data.Product

<td>@Model.Name</td>
<td>
    @if (Model?.PriceDiscount is not null)
    {
        <span class="ms-auto">
            <span class="fw-light fs-6 text-decoration-line-through">
                @Model?.Price
            </span>
            <span class="ms-2 fs-5 fw-normal text-danger">
                @Model?.PriceDiscount$
            </span>
        </span>
    }
    else
    {
        <span class="ms-2 fs-5 fw-normal">
            @Model?.Price$
        </span>
    }
</td>
<td>@Model.AvailableStock</td>
<td>@Model.Rate</td>
<td>@Model.Created.ToString("dd/MM/yyyy H:mm")</td>
<td>
    <a asp-controller="Products" asp-action="Show" asp-route-id="@Model.Id" type="button" class="btn btn-primary btn-sm">Show</a>
    <div class="vr h-100"></div>
    @if(Model.AvailableStock>0){
        <button class="btn btn-primary btn-sm" onclick="addToCart(this)" data-product="@Model.Id" type="button">
            <span>Add to cart</span>
            <span class="spinner-border spinner-border-sm d-none" aria-hidden="true"></span>
            <span role="status" class="d-none">Loading...</span>
        </button>
        <div class="vr h-100"></div>
        <a asp-action="BuyNow" asp-controller="Cart" asp-route-productId="@Model.Id" class="btn btn-primary btn-sm">Buy now</a> 
    }
    else{
        <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#NotifyModal" onclick="updateModal(@Model.Id,'@Model.Name')">Notify</button>
    }
</td>